%h1.general-title-margin Checkout
%ul.steps.list-inline
  - steps.each_with_index do |step, index|
    - index += 1
    %li.step{class: ('active' unless future_step?(step))}
      %span.step-number= index
      = link_to t("checkouts.nav.#{step}"), checkout_path(step), class: 'span step-text hidden-xs'
    - unless step == @steps.last
      %li.step-divider