<!DOCTYPE html>
<html>
<head>
  <title>Purchaser</title>
  <%= stylesheet_link_tag    "purchaser/application", media: "all" %>
  <%= javascript_include_tag "purchaser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
